.idea/
.gradle/
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build/
captures/
gradlew
gradlew.bat
app/release
gradle/wrapper
app/proguard-rules.pro

**/*.iml
*.iml
*.ipr
*.iws
*.dex
*.apk
*.ap_
*.log
bin/
gen/

